<style type="text/css">
  .huodong{
    width:931px;
    height:150px;
    background:url(/images/zengshu/huodong-bj.gif) no-repeat;
    line-height:1.8;
    font-size:14px;
  }
  .huodong img{
    margin:5px 10px;
    _margin:10px 10px;
    *margin:10px 10px;
    float:left;
  }
  .huodong ul{
    float:left;
  }
  .huodong h3{
    font-weight:bold;
    color:#900;
    font-size:15px;
    margin:5px 0 6px 0;
  }
  .huodong span{
    font-weight:bold;
  }
</style>
<div class="huodong">
  <a href="/book_activities" target="_blank"><img src="/images/zengshu/huodong1.jpg" width="277" height="127" /></a>
  <ul>
    <li><a href="/book_activities" target="_blank"><h3>家庭教育主题征文暨免费赠阅图书活动</h3></a></li>
    <li><span>主办单位：</span>南通市文明办、南通市教育局、南通市妇女联合会</li>
    <li><span>支持单位：</span>南通市电化教育馆、中国城市出版社、江苏北极光科技发展有限公司</li>
    <li><span>活动内容：</span>专家讲座、免费赠书、教育主题征文等</li>
    <li><span>活动时间：</span>2010年11月1日-2010年12月31日</li>
  </ul>
</div>