<div class="head">
  <table id="__01" width="1117" height="293" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td height="43" background="/images/piaoliu/top_01.jpg">
      </td>
    </tr>
    <tr>
      <td height="45" background="/images/piaoliu/top_02.jpg">
        <img src="/images/piaoliu/top_02.jpg" height="45" alt=""/></td>
    </tr>
    <tr>
      <td>
        <img src="/images/piaoliu/top_03.jpg" height="38" alt=""/></td>
    </tr>
    <tr>
      <td height="33" background="/images/piaoliu/top_04.jpg">
      </td>
    </tr>
    <tr>
      <td height="42" background="/images/piaoliu/top_05.jpg">
      </td>
    </tr>
    <tr>
      <td height="92" valign="top" background="/images/piaoliu/top_06.jpg">
        <div id="nav">
          <ul>
            <li><a class="a_focus" href="#">首页</a></li>
            <li><a class="b_normal" href="#">首页</a></li>
            <li><a class="c_normal" href="#">首页</a></li>
            <li><a class="d_normal" href="/driftages/report">首页</a></li>
            <li><a class="e_normal" href="#">首页</a></li>
            <li><a class="f_normal" href="#">首页</a></li>
            <li><a class="g_normal" href="#">首页</a></li>
            <li><a class="h_normal" href="#">首页</a></li>
          </ul>
        </div>      </td>
    </tr>
  </table>
</div>