<div class="login">
  <table border="0" width="130">
    <tr>
      <td colspan="2">
        <input style="width:130px; float:left"/>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input style="width:130px; float:left"/>
      </td>
    </tr>
    <tr>
      <td width="80"><input style="width:80px;float:left"/></td>
      <td align="left"><p>1234</p></td>
    </tr>
  </table>
  <div>
    <button></button>
    <span>忘记密码？</span>
  </div>
</div>