  <div id="main_left">
    <div class="login">
      <table border="0" width="130">
        <tr>
          <td colspan="2">
            <input style="width:130px; float:left"/>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input style="width:130px; float:left"/>
          </td>
        </tr>
        <tr>
          <td width="80"><input style="width:80px;float:left"/></td>
          <td align="left"><p>1234</p></td>
        </tr>
      </table>
      <div>
        <button></button>
        <span>忘记密码？</span>
      </div>
    </div>
    <div class="sqplq">
      <a href="#"><img src="/images/piaoliu/sqplq.jpg" /></a>
    </div>
    <div class="gonggao">
      <marquee height="100" width="200" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="1" direction="up">
        <ul>
          <li><a href="#">告公告公告公告公告公告</a></li>
          <li><a href="#">公告公告公告公告公告公告</a></li>
          <li><a href="#">告公告公告公告公告公告</a></li>
          <li><a href="#">公告公告公告公告公告</a></li>
        </ul>
      </marquee>
    </div>
    <div class="gerenxinxi">
      <ul>
        <li style="font-weight:bold">某某某</li>
        <li>南通市第一中心小学</li>
        <li>初一（1）班</li>
        <li><span><a href="#">点击查看全部班级</a></span></li>
        <li>个人积分：<font color="#CC0000">56</font></li>
        <li><span><a href="#">点击进入我的空间</a></span></li>
        <li><span><a href="#">点击进入我的班级</a></span></li>
        <li class="zhanneixin">(<a href="#">2</a>)</li>
      </ul>
    </div>
    <div class="huodongxinxi">
      <ul class="duhougan">
        <li style="text-align:right; margin-right:40px;color:#F30;">（3/2）</li>
        <li class="dotbj"><a href="#">《三国演义》读后感</a></li>
        <li  class="dotbj"><a href="#">《三国演义》读后感</a></li>
        <li  class="dotbj"><a href="#">《三国演义》读后感</a></li>
        <li style="text-align:right; margin-right:30px;"><a style="color:#F30" href="#">查看我的文章>></a></li>
      </ul>
      <ul class="duhougan2">
        <li style="text-align:right; margin-right:40px;color:#F30">（3/2）</li>
        <li  class="dotbj"><a href="#">《三国演义》读后感</a></li>
        <li  class="dotbj"><a href="#">《三国演义》读后感</a></li>
        <li  class="dotbj"><a href="#">《三国演义》读后感</a></li>
        <li style="text-align:right; margin-right:30px;"><a style="color:#F30" href="#">查看所有话题>></a></li>
      </ul>
      <ul class="duhougan3">
        <li style="text-align:right; margin-right:40px;color:#F30">（3/2）</li>
        <li  class="dotbj"><a href="#">《三国演义》读后感</a></li>
        <li  class="dotbj"><a href="#">《三国演义》读后感</a></li>
        <li  class="dotbj"><a href="#">《三国演义》读后感</a></li>
        <li style="text-align:right; margin-right:30px;"><a style="color:#F30" href="#">查看全部>></a></li>
      </ul>
    </div>
  </div>