<div class="gonggao">
  <marquee height="100" width="200" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="1" direction="up">
    <ul>
      <li><a href="#">告公告公告公告公告公告</a></li>
      <li><a href="#">公告公告公告公告公告公告</a></li>
      <li><a href="#">告公告公告公告公告公告</a></li>
      <li><a href="#">公告公告公告公告公告</a></li>
    </ul>
  </marquee>
</div>