<div class="gerenxinxi">
  <ul>
    <li style="font-weight:bold">某某某</li>
    <li>南通市第一中心小学</li>
    <li>初一（1）班</li>
    <li><span><a href="#">点击查看全部班级</a></span></li>
    <li>个人积分：<font color="#CC0000">56</font></li>
    <li><span><a href="#">点击进入我的空间</a></span></li>
    <li><span><a href="#">点击进入我的班级</a></span></li>
    <li class="zhanneixin">(<a href="#">2</a>)</li>
  </ul>
</div>