<div id="top1"></div>
<div id="top2"></div>
<div id="nav">
  <ul>
    <li><a href="/book_tests/introduction" <% if action_name == "introduction" %>class="focus"<%end%>>活动介绍</a></li>
    <li><a href="/book_tests" <% if action_name == "index" %>class="focus"<%end%>>赠书活动</a></li>
    <li><a href="/book_tests/article" <% if action_name == "article" %>class="focus"<%end%>>家庭教育主题征文</a></li>
    <li><a href="javascript:void(0)" onclick="show_alert_1();return false;">学习调查表</a></li>
    <li><a href="/book_tests/report" <% if action_name == "report" %>class="focus"<%end%>>活动报道</a></li>
    <li><a href="/book_tests/award_list" <% if action_name == "award_list" %>class="focus"<%end%>>获奖信息</a></li>
  </ul>
</div>