<% cache(:instroduction_1, 30.minutes.from_now) do %>
<div style="display:none" class="introduction1" id="intro_1">
  <h1>《独自成长的小幼虫》简介：</h1>
  <p>美丽的大自然中有很多很多种动物和植物。每一种动物和植物都有自己独特的生活习性和智慧。这个世界上的每个角落里每天都在发生各种各样的事情。让我们跟随这本有趣的童话故事，去神秘的大自然世界中探险吧。</p>
</div>
<div style="display:none" class="introduction1" id="intro_2">
  <h1>《有奉献精神的父母培养大人物》简介：</h1>
  <p>在家教观点和方法众说纷纭的今天，“韩国首席妈妈”全惠星博士用自己的亲身经验，娓娓道来自己的教育见解，朴素、实在，没有华丽的语言，却于看似不经意间道出了深刻和本质。 </p>
  <p> 全惠星博士作为有跨文化背景的母亲，很好地发扬了不同文化的教育之长。强调德胜于才，重视社会责任感和奉献精神的培养，了解孩子的成长规律，注重教育艺术，尊重孩子的天性，帮助孩子养成健康向上、乐于助人的生活风格，鼓励孩子做自己喜欢的事，提倡父母和孩子一起成长……这些教育的法宝，无疑值得每一个为人父母者借鉴。</p>
</div>
<div style="display:none" class="introduction1" id="intro_3">
  <h1>《英才是怎样造就的》简介：</h1>
  <p>阅读这本书只需要一天，你的孩子将得到精彩的一生！</p>
  <p>关于王金战老师的教育传奇：他带的一个高中班，10位学生进入剑桥、牛津、耶鲁大学等世界名校，37位学生进入北大清华，25人次夺冠于全国各类竞赛项目。这个班的学生品学兼优，获得校男子足球赛冠军、女子篮球赛季军、运动会总分第一、6个文体竞赛项目冠军，校学生会主席、校团委书记、校音乐社长等职，均来自这个班级。</p>
  <p>高分和高能可以兼得吗？打开本书，你将找到自己的答案！</p>
</div>
<% end %>