<% cache(:rule_1, 30.minutes.from_now) do %>
<div class="rules">
  <h1></h1>
  <ul>
    <li>本活动仅限南通地区中小学生家长参与。</li>
    <li>本次图书申领将分批进行，用户将分批收到活动邀请短信。只有当批受邀用户能够参与当批图书申领。</li>
    <li>邀请短信将明确显示图书申领的日期，受邀请的用户只能在指定日期的19:00-21:00间申领图书。</li>
    <li>图书申领采取先到先得的方式进行。每位受邀用户在整个活动期间只能成功申领一本图书，请根据您孩子的实际情况选择需要申领的图书。</li>
    <li>当批图书全部申领完或申领时间截止时，当批图书申领结束。</li>
    <li>图书申领的结果将在用户点击【申领】按键后，即时反馈。</li>
    <li>成功申领的图书将在整个活动结束后，统一发放到您孩子所在学校，由老师发给您的孩子。</li>
    <li>服务热线：0513-68585000</li>
  </ul>
</div>
<div class="circuit">
  <h1></h1>
  <ul>
    <li>第一步：根据邀请短信的内容，确定当前处于有效活动日期及时间内。</li>
    <li>第二步：点击图书前的<img src="/images/zengshu/choose.gif" height="20" width="25"/>选择需要申领的图书。</li>
    <li>第三步：在“南通市网上家长学校用户名”后的空白框内输入邀请短信中提供的南通市网上家长学校用户名。</li>
    <li>第四步：点击【申领】按钮进行申领。</li>
  </ul>
</div>
<% end %>
