<%= render :partial => "head" %>
<div id="main">
  <div class="baogao">
    <h1></h1>
    <div class="baogao-box">
      <img src="/images/zengshu/baodao.jpg" height="118" width="170"/>
      <ul><li>
          <h2>不辞辛劳守一线  网上赠书保成功
          </h2>
          <p>2010年11月1日19：00时，经过周密筹备，由南通市教育局、南通市文明办和南通市妇女联合会联合举办“家庭教育主题征文暨免费赠阅图书”活动正式开始。赠书活动在首日即成功举行，并获得巨大反响。...【<a href="http://www.ntjxt.com/news_lines/601" target="_blank">查看详细</a>】</p>
        </li>
      </ul>
    </div>
    <div class="baogao-box">
      <img src="/images/zengshu/report.jpg" height="118" width="170"/>
      <ul><li>
          <h2>为民服务办实事　家庭教育解疑点</h2>
          <p>10月19日，由南通市网上家长学校、市教育为民服务中心、南通市第三中学联合举办，中国城市出版社、南通市电教馆等单位支持的“家庭教育指导讲座”在南通市第三中学阶梯教室举行。家庭教育指导讲座邀请了南通高等师范学校贾真副教授主讲，与广大学在南通市第三中学阶梯教室举行。家庭教育指导讲座邀请了南通高等师范学校贾真副教授主讲，与广大学...【<a href="http://www.ntjxt.com/news_lines/587" target="_blank">查看详细</a>】</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<%= render :partial => "alert_div" %>