<p class="title_p">新闻发布</p>
<div style="margin-bottom: 5px;">
  <a style="float:right;display: block;width: 80px;text-align: center; " href="/admin/news_lines/new">新闻发布</a><span style="float:right; margin-right:2px;"> | </span>
  <a style="float:right;display: block;width: 80px;text-align: center; " href="/admin/news_lines">新闻列表</a><span style="float:right; margin-right:1px;"> | </span>
  <a style="float:right;display: block;width: 80px;text-align: center; " href="/admin/news_lines/picture">上传新闻图片</a><span style="float:right; margin-right:1px;"> | </span>
  <div style="clear:both;"></div>
</div>