<div id="main">
  <%= render :partial => "/news_lines/pic_news" -%>
</div>
<div id="side">
  <%= render :partial => "/news_lines/hot_tag" -%>
  <%= render :partial => "/news_lines/news_back" -%>
  <%= render :partial => "/news_lines/contribution" -%>
</div>