<%= render :partial => "/areas/side/dynamic_show" %>
<div class="clear"></div>
<%= render :partial => "/areas/side/read_list" %>
<div class="clear"></div>
<%= render :partial => "/areas/side/search" %>
<%= render :partial => "/areas/side/area_show" %>