<div class="artical_particular">
  <% if @news %>
    <h2><%=h @news.news_title %></h2>
    <h3>发表时间：<%= @news.created_at.strftime("%Y.%m.%d") %>&nbsp;&nbsp;&nbsp;&nbsp;发表人：南通网上家长学校&nbsp;&nbsp;<%=h Space.find_by_id(@news.created_by).nickname if Space.find_by_id(@news.created_by) %></h3>
    <%= @news.news_content %>
  <% else %>
    <br/><center><font size="4">无此页面</font></center><br/>
  <% end %>
</div>